/*html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "留묒� 怨좊뵓", "Malgun Gothic", "援대┝", "Gulim", Verdan, Arial, Tahoma;
}

h1{font-size:14px; line-height:28px; font-weight:bold;}
h2{font-size:12px; line-height:24px; font-weight:bold;}
a:visited, a:link{color:#c20a00;text-decoration:none;}
a:hover, a:active{color:#c23700;}
html{color:#000;
	background:#888; 
	padding:20px 0;
	font: 12px/18px "留묒� 怨좊뵓", "Malgun Gothic", "援대┝", "Gulim", Verdana, Arial, Tahoma;
}*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}

#wrap {width:960px; margin:0 auto; background-color:#fff}

#top {
	width:950px; color:#eee;
	padding:0 10px 15px 0;
	text-align:right; font-weight:bold;
}
#top a {color:#000; text-decoration:none; padding:5px;}
#top a:hover {background-color:#088402;}

#header {
	width:100%; height:135px; background-color:#0fcb05;
	border-bottom: 1px solid #999;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	border-radius:15px 15px 0 0;
}
#header_top {height:100px;}

#header_left {
	width:550px; float:left; display:inline; color:#fff;
	padding:10px; height:80px;
}

#line {width:960px; height:5px; background-color:#088402;}

#content{background:#fff; overflow:auto; padding:0;}
#main_content1{width:700px; float:left; padding:10px; background:#fff;}


#footer{background-color:#0fcb05; color:#fff; text-align:center; padding:20px;}

#navbar{width:960px; height:30px; background-color:#70e56a;}
#navbar ul{margin:0;padding:0;}
#navbar ul li{float:left;}
#navbar ul li a{
	color:#fff; background-color:#2e9829;
	display:block; width:120px; text-align:center; padding:0px 10px;
	font:bold 12px/30px Tahoma; text-decoration:none; margin-right:1px;
}
#navbar ul li a.selected{background-color:#70e56a;}
#navbar ul li a:hover{background-color:#088402;}

#main_content1 div.section3, #main_content1 div.section_1{
	width:700px; margin-bottom:20px; border:1px solid #d7e9f9;
	-moz-border-radius:5px; boder-radius:5px; overflow:auto;
}
#main_content1 div.section_3 h1, #main_content1 div.section_1 h1{
	width:650px; padding:4px 6px 4px 44px; background:#ff5640;
	-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;
	border-radius:5px 5px 0 0;
}


#main_content1 div.section_3 li{
	width:220px; display:block; float:left; margin:5px;
}
div.section_3 li img{float:left;}

#main_content1 div.section_1 li{
	width:690px; display:block; float:left; margin:5px;
}
div.section1 li img{float:left;}


